<div class="col-md-12">
  <div class="group">
    <%= link_to("Edit", edit_company_work_path(@work), class: "btn btn-primary pull-right")%>
  </div>
  <h2><%= @work.title %></h2>
  <p><%= @work.description %></p>
</div>
