
<footer class="container" style="margin-top: 100px;">
    <p class="text-center">Copyright ©2016 丢手绢
        <br>Design by
        <a href="http://javplay.com/model/mei-matsumoto/" target=_new>zs</a>
    </p>
</footer>
